.header {
  display: grid;
  place-items: center;

  &__nav {
    max-width: 120rem;
    width: 100%;
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1200px) and (min-width: 760px) {
      max-width: 47.5rem;
      padding: 3rem 5rem;
    }

    @media only screen and (max-width: 760px) {
      max-width: 22.5rem;
      padding: 2rem;
    }

    &-list {
      list-style: none;
      display: flex;
      gap: 1rem;

      @media only screen and (max-width: 760px) {
        display: none;
      }
    }

    &-list-item {
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--clr-text-primary);
    }

    &-link:hover,
    &-link:active {
      text-decoration: none;
    }
  }
}
