@use "../abstract/variables" as variables;
@use "../layout/header";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  background-color: var(--clr-main-bg);
}
