.heading-primary {
  font-size: 3rem;
  font-weight: 600;
  color: var(--clr-text-primary);

  @media only screen and (max-width: 1200px) and (min-width: 760px) {
    font-size: 2rem;
  }
}

.heading-secondary {
  font-size: 2.5rem;
  color: var(--clr-text-primary);
  letter-spacing: 0.75;

  @media only screen and (max-width: 1200px) and (min-width: 760px) {
    font-size: 1.5rem;
  }
}

.heading-center {
  text-align: center;
}
